    <div id="footer">
        <div id="footer-left">
            <p>Please call for more information:<br />
            <b>Toll Free</b> - <a class="no-under" href="tel:8779228529">(877) 922-8579</a><br />
            <b>Mobile</b> - <a class="no-under" href="tel:4789548000">(478) 954-8000</a></p>
        </div><!--END FOOTER-LEFT-->
        <div id="footer-right">
            <p>Email: <a href="mailto:sanderschurchfurn@gmail.com">sanderschurchfurn@gmail.com</a><br />
            &copy; Copyright 2007-{{ site.time | date: '%Y' }} Sanders Church Furnishings<br/>
            <a class="no-under" href="https://maps.google.com/?daddr=1027+Johnstonville+Road+Barnesville+GA+30204" target="_blank">1027 Johnstonville Road, Barnesville, GA 30204</a></p>
        </div><!--END FOOTER-RIGHT-->
    </div><!--END FOOTER-->