    <body>
        <div id="header">
            <div id="logo"><a href={{ "index.html" | relative_url }}></a></div>
        </div><!--END HEADER-->
        <ul id="navigation">
        	<li><a href="{{ "about.html" | relative_url }}">About</a></li>
            <li><a href="{{ "pews.html" | relative_url }}">Pews</a></li>
            <li><a href="{{ "chancel-furniture.html" | relative_url }}">Chancel Furniture</a></li>
            <li><a href="{{ "chairs.html" | relative_url }}">Chairs</a></li>
            <li><a href="{{ "stained-glass.html" | relative_url }}">Stained Glass</a></li>
            <li><a href="{{ "steeples.html" | relative_url }}">Steeples</a></li>
            <li><a href="{{ "baptisteries.html" | relative_url }}">Baptisteries</a></li>
            <li><a href="{{ "services.html" | relative_url }}">Services</a></li>
            <li class="last"><a href="{{ "contact-us.html" | relative_url }}">Contact Us</a></li>
        </ul><!--END NAVIGATION-->