<body class="{{ page.title | replace: ' ', '-' | downcase }}">
    <div id="header">
        <div id="logo"><a href={{ "index.html" | relative_url }}></a></div>
    </div><!--END HEADER-->
    <ul id="navigation">
        <li id="about"><a href="{{ "about.html" | relative_url }}">About</a></li>
        <li id="pews"><a href="{{ "pews.html" | relative_url }}">Pews</a></li>
        <li id="chancel-furniture"><a href="{{ "chancel-furniture.html" | relative_url }}">Chancel Furniture</a></li>
        <li id="chairs"><a href="{{ "chairs.html" | relative_url }}">Chairs</a></li>
        <li id="stained-glass"><a href="{{ "stained-glass.html" | relative_url }}">Stained Glass</a></li>
        <li id="steeples"><a href="{{ "steeples.html" | relative_url }}">Steeples</a></li>
        <li id="baptisteries"><a href="{{ "baptisteries.html" | relative_url }}">Baptisteries</a></li>
        <li id="services"><a href="{{ "services.html" | relative_url }}">Services</a></li>
        <li id="contact-us" class="last"><a href="{{ "contact-us.html" | relative_url }}">Contact Us</a></li>
    </ul><!--END NAVIGATION-->