/*navigation.css*/
    
/*NAVIGATION----------------------------------------------*/
    
ul#navigation{
	border-top:1px solid #7e6c6c;
	border-bottom:1px solid #7e6c6c;
	height:23px;
	padding:6px 0 0 38px;
	background:url('../images/nav-gradient.png') repeat-x;
	list-style:none;
	position:relative;
	}
    
ul#navigation li{
	float:left;
	font-size:15px;
	border-right:2px solid #842e2f;
	margin-right:15px;
	padding-right:15px;
	}
    
ul#navigation li.last{
	border-right:0px none;
	margin-right:0px;
	padding-right:0px;
	}

ul#navigation li a{
	color:#fff;
	text-decoration:none;
	}
    
ul#navigation li a:hover {
	color: #f6a82e;
}

body.home ul#navigation li#home a,
body.about ul#navigation li#about a,
body.pews ul#navigation li#pews a,
body.chancel-furniture ul#navigation li#chancel-furniture a,
body.chairs ul#navigation li#chairs a,
body.stained-glass ul#navigation li#stained-glass a,
body.gallery-of-art ul#navigation li#stained-glass a,
body.restoration-examples ul#navigation li#stained-glass a,
body.steeples ul#navigation li#steeples a,
body.baptisteries ul#navigation li#baptisteries a,
body.services ul#navigation li#services a,
body.contact-us ul#navigation li#contact-us a {
	color: #f6a82e;
}


/*-----------------------------------LEFT-NAV--------------------------------------*/
	
#left-nav ul li{
	color:#fff;
}
	